
.container-fluid {
  padding-top: 60px;
  width: 100%;
  justify-content: center !important;
  height: 100%;


  .width-100 {
    width: 100%;
  }

  .width-70 {
    width: 70%;
  }

  .article-container {
    padding-left: 15px;
    padding-right: 15px;

    float: left;
    left: 0;

    .top-advert {
      width: 100%;
      height: 160px;
      margin-bottom: 10px;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }
    }


    .article-header {
      background-color: #f1f8ff;
      border-color: #c8e1ff;
      padding: 16px;
      margin: -1px -1px 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .markdown-body {
      padding-top: 10px;
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333;
      padding-bottom: 10px;
      border-radius: 4px;
      margin-bottom: 5px;
    }

    img,audio,video {
      max-width: 100%;
      height: auto;
    }

    p {
      white-space: pre-wrap;
      min-height: 1em;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 5px;
    }

    pre {
      padding: 10px;
      background-color: #f1f1f1;
      border-radius: 5px;
      overflow: hidden;
    }

    blockquote {
      margin: 0;
      padding: 10px;
      background-color: #f1f1f1;
      border-left: 3px solid #d1d1d1;
    }

    span[line-row] {
      position: absolute;
      pointer-events: none;
      top: 0;
      font-size: 100%;
      left: -3.8em;
      //width: 3em;
      letter-spacing: -1px;
      border-right: 1px solid #999;
      user-select: none;
      counter-reset: linenumber;
    }

    span[line-row]>span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber;
    }

    span[line-row]>span::before {
      content: counter(linenumber);
      color: #999;
      display: block;
      padding-right: .8em;
      text-align: right
    }
  }


  .back-top-nav {
    position: fixed;
    left: calc(70% - 15px - 40px);
    bottom: 200px;
    width: 40px;
    height: 40px;
  }
}

.float-right {
  float: right;
}

@media (max-width: 1080px) {
  .container-fluid {
    padding-top: 60px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;

    .advert-container {
      width: calc(100% - 30px);
      float: right;
      padding: 10px 10px;
      height: 100%;
      background-color: #333333;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      overflow: auto;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 15px;
      border-radius: 4px;
    }

    .article-container {
      float: left;
      width: 100%;
      overflow: auto;

      .top-advert {
        width: 100%;
        height: 140px;
        margin-bottom: 10px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      img,audio,video {
        max-width: 100%;
        height: auto;
      }

      p {
        white-space: pre-wrap;
        min-height: 1em;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
      }

      pre {
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 5px;
        overflow: hidden;
      }

      blockquote {
        margin: 0;
        padding: 10px;
        background-color: #f1f1f1;
        border-left: 3px solid #d1d1d1;
      }

      span[line-row] {
        position: absolute;
        pointer-events: none;
        top: 0;
        font-size: 100%;
        left: -3.8em;
        //width: 3em;
        letter-spacing: -1px;
        border-right: 1px solid #999;
        user-select: none;
        counter-reset: linenumber;
      }

      span[line-row]>span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
      }

      span[line-row]>span::before {
        content: counter(linenumber);
        color: #999;
        display: block;
        padding-right: .8em;
        text-align: right
      }
    }

    .back-top-nav {
      position: fixed;
      left: calc(100% - 15px - 40px);
      bottom: 200px;
      width: 40px;
      height: 40px;
    }
  }
}