.blog-list-pannel {
  margin-top: 10px;
  min-width: 650px;
  height: 100%;
  width: 100%;

  .bg-color-red {
    background-color: #ea5546 !important
  }

  .bg-color-green {
    background-color: #d9ea80 !important
  }
}
