.page-header-right{
  position: absolute;
  right: 15px;
  top: 12px;
}

.main-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  background-color: #222d32;
}