.page-header-right{
  position: absolute;
  right: 15px;
  top: 12px;
}

.main-sidebar{
  //position: absolute;
  position: fixed;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  background-color: #222d32;
}

.text-yellow {
  color: #F0B45F;
}

.text-red {
  color: #F05550;
}

@media (max-width: 768px) {
  .main-sidebar {
    position: relative;
    z-index : 1;
    width: 100%;
    top: 0;
  }

  .top-navbar {
    position: relative;
  }
}