<?xml version="1.0" encoding="utf-8" ?>
<config>
    <http>:8087</http>
    <secret_key>123456</secret_key>

    <mysql>
        <host>192.168.1.19</host>
        <port>3306</port>
        <database>db_yut</database>
        <username>root</username>
        <password>root</password>
    </mysql>
</config>