.container{
  box-sizing: border-box;
  width: 1000px;
  max-width: 100%;
  min-height: 100%;
  padding: 100px 20px;
  //padding: 30px 20px;
  overflow: hidden;
  background-color: #fff;
  border-right: solid 1px #eee;
  border-left: solid 1px #eee;

  img,audio,video {
    max-width: 100%;
    height: auto;
  }

  p {
    white-space: pre-wrap;
    min-height: 1em;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
  }

  pre {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  blockquote {
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-left: 3px solid #d1d1d1;
  }

  span[line-row] {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    user-select: none;
    counter-reset: linenumber;
  }

  span[line-row]>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

  span[line-row]>span::before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
  }

  .braft-content {
    height: 100%;
    width: 100%;
  }
}


