.profile-container {
  position: fixed;
  left: calc(70% - 135px);
  top: calc(120px + 200px);
  width: 120px;
  height: 100px;
}

.profile-btn {
  position: fixed;
  left: calc(70% - 15px - 40px);
  top: calc(120px + 200px);
  width: 40px;
  height: 40px;
}